::selection {
  background-color: #1055e9;
  color: #ffffff;
}

body {
  background-color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

select:focus,
input:focus,
button:focus {
  outline: 0;
  box-shadow: 2px 2px 5px #c2c2c2;
}

.converter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #1055e9;
  width: 70%;
  min-width: 300px;
  margin: 10px auto;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 2px 2px 10px #ddd;
  box-sizing: border-box;
}

.from-currency,
.to-currency {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
  padding: 20px 10px;
  width: 100%;
}

.from-currency-title,
.to-currency-title {
  font-size: 20px;
}

.from-select,
.to-select {
  width: 100px;
  height: 40px;
  max-height: 50px;
  text-align: center;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 2px #c2c2c2;
  cursor: pointer;
}

.data-input {
  font-size: 20px;
  width: 50%;
  min-width: 60px;
  align-self: center;
  height: 40px;
  min-height: 30px;
  border-radius: 5px;
  padding: 0px 10px;
  box-sizing: border-box;
  border: none;
  box-shadow: 0px 0px 2px #c2c2c2;
}

.data-button {
  background-color: #1055e9;
  color: #fff;
  width: 50%;
  min-width: 60px;
  margin: 5px 0px 5px 0px;
  height: 40px;
  min-height: 30px;
  font-size: 20px;
  border-radius: 5px;
  align-self: center;
  border: none;
  cursor: pointer;
}

@media (max-width: 750px) {
  .converter {
    width: 90%;
    padding: 20px 5px;
  }

  .from-currency-title,
  .to-currency-title {
    font-size: 16px;
  }

  .from-select,
  .to-select {
    width: 70px;
    font-size: 14px;
  }

  .data-input {
    width: 250px;
  }
}

@media (max-width: 450px) {
  .data-input {
    width: 120px;
  }
}
